*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    height: 150px;
    width: 150px;   
    margin-left: 1rem;
}
.cart{
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}
.product{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}
.title{
    top: 0;
    font-size: 2rem;
}
img{
    align-self: center;
    width: 250px;
    height: 250px;
    margin-left: 1.5rem;
}
.author{
    color: #2B7186;
}
.info{
    color: gray;
    margin-top: 2rem;
}
.product__info{
    margin-left: 3rem;
}
.product__price{
    font-size: 1.5rem;
    margin-top: 1rem;
    display: inline-block;
    color: black;
    color: green;
}
span{
    color: red;
    font-size: 0.982rem;
}
button{
    margin-top: 1.2rem;
    font-size: 1.3rem;
    padding: 10px;
    background-color: white;
}
button:hover{
    color: white;
    background-color: black;
}