*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    height: 150px;
    width: 150px;   
    margin-left: 1rem;
}
.cart{
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}
.product{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    padding: 0 3rem;
}
.title{
    top: 0;
    font-size: 2rem;
}
img{
    align-self: center;
}
.author{
    color: #2B7186;
}
.info{
    color: gray;
    margin-top: 1rem;
    line-height: 2rem;
}
.product__price{
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0 5px 0 5px;
    border-radius: 15px;
    display: inline-block;
    color: black;
    background-color: white;
}
button{
    margin-top: 1rem;
    font-size: 1.3rem;
    padding: 10px;
    background-color: white;
    border-style: none;
}
button:hover{
    color: white;
    background-color: black;
}